*.bak
*.launch
*.pydevproject
*.swp
*.tmp
*~.nib
.buildpath
.classpath
.cproject
.externalToolBuilders/
.gradle
.loadpath
.metadata
.mvn/timing.properties
.nb-gradle/
.project
.settings/
.target
.texlipse
bin/
build/
buildNumber.properties
dependency-reduced-pom.xml
dist/
local.properties
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/
